@import "bootstrap"; 
@import "fonts";

// Modules and Variables
@import "partials/base";

// Partials
@import "partials/header";
@import "partials/footer";
@import "partials/body";
// @import "partials/typography";
// @import "partials/buttons";
// @import "partials/figures";

// Third-party
// @import "vendor/colorpicker";
// @import "vendor/jquery.ui.core";

@import "../node_modules/flickity/dist/flickity.min";

ul, ol {
	margin: 0;
	padding: 0;
}

p {
  font-family: Didot;
  font-size: 22px;
  line-height: 50px;
  font-weight: 100;
}
//
.stripe {
	background: #111;
	margin-top: 75px;
	margin-bottom: 75px;
}

h1 {
	font-size: 350px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 20px;
  margin-bottom: 0px;
  line-height: .5;
}

section {
	padding: 30px 0;
}



.section-header {
	position: relative;
	text-align: center;
	padding: 30px 0;
	h2 {
		text-transform: uppercase;
		display: inline-block;
		background: #ffffff;
		padding: 0 15px;
		margin: 0;
	}

	h2:before {

			content: "";
			position: absolute;
			width: 100%;
			border-bottom: 1px solid black;
			left: 0;
			top: 50%;
			// top: 58%; //this looks good too
			z-index: -1;

		};

}


.by-line {
	text-align: center;
	p {
		margin-bottom: 0;
	}
}

.projects-nav {
	text-align: center;
	p {
		display: inline-block;
	}
}
.project-link {
	margin-right: 25px;
	display: inline-block;
	&.is-selected {
		border-bottom: 5px solid black;
	}
}

.project {
	width: 100%;
	text-align: center;
	list-style-type: none;
	background-color: red;
}