<html>

	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <title>Ari Rose</title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width">
	
	    <!-- Latest compiled and minified CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	    <!-- Optional theme -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	    <link rel="stylesheet" href="dist/styles.css">
	  	<script src="dist/app.js"></script>

	</head>

	<body>
		<h1>
			<div class="stripe"></div>
			<div class="container">
				Ari Rose
			</div>
		</h1>
		<div class="container">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi sit vitae sint quae temporibus cumque odit voluptates distinctio ad laborum atque corporis dolores, ipsum, suscipit laboriosam a consequatur optio corrupti impedit. Sequi magni iste, neque nostrum, est fugiat. Quo consectetur nobis tempora vitae quae eius facilis modi delectus porro nostrum!</p>
		</div>
		<h2>
			<div class="sub-stripe"></div>
			<div class="container">
				Biography
			</div>
		</h2>
		<div class="container">

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi sit vitae sint quae temporibus cumque odit voluptates distinctio ad laborum atque corporis dolores, ipsum, suscipit laboriosam a consequatur optio corrupti impedit. Sequi magni iste, neque nostrum, est fugiat. Quo consectetur nobis tempora vitae quae eius facilis modi delectus porro nostrum!</p>
		</div>
		<h2>
			<div class="sub-stripe"></div>
			<div class="container">
				Work
			</div>
		</h2>
		
		<div class="container">
			<ul class="projects-nav unstyled clearfix">
				{{#each projects}}
					<li class="clearfix project-link"><span class="company">{{title}}</span></li>
				{{/each}}
	   <!--  			<li class="clearfix project-link gowatchit"><span class="company">GoWatchIt</span>Superwidget</li>

	    			<li class="clearfix project-link gowatchit"><span class="company">GoWatchIt</span>GWI360</li>
	    			<li class="clearfix project-link gowatchit"><span class="company">GoWatchIt</span>Home Site</li>
	    			<li class="clearfix project-link gowatchit"><span class="company">GoWatchIt</span>Studio Microsite</li>
	    			<li class="clearfix project-link universum"><span class="company">Universum</span>Wetfeet College Report</li>
	    			<li class="clearfix project-link universum"><span class="company">Universum</span>Wetfeet Personality Match</li>
	    			<li class="clearfix project-link flatiron"><span class="company">Flatiron School</span>Branding</li>
	    			<li class="clearfix project-link dueprops"><span class="company">DueProps</span>Redesign</li>
	    			<li class="clearfix project-link side"><span class="company">On The Side</span>Breed Breakdown</li>
	    			<li class="clearfix project-link side"><span class="company">On the Side</span>Guess Who Board Game</li> -->
	    		</ul>
    	<div class="row">
    		<div class="span12">

	    		<ul class="projects unstyled">
	    			{{#each projects}}
	    				{{> project}}

	    			{{/each}}
	    		<!-- 	<li class="clearfix project gowatchit">

	    				<p><span class="company">GoWatchIt</span>Superwidget</p>

	    			</li>

	    			<li class="clearfix project gowatchit"><p><span class="company">GoWatchIt</span>GWI360</p></li>
	    			<li class="clearfix project gowatchit"><p><span class="company">GoWatchIt</span>Home Site</p></li>
	    			<li class="clearfix project gowatchit"><p><span class="company">GoWatchIt</span>Studio Microsite</p></li>
	    			<li class="clearfix project universum"><p><span class="company">Universum</span>Wetfeet College Report</p></li>
	    			<li class="clearfix project universum"><p><span class="company">Universum</span>Wetfeet Personality Match</p></li>
	    			<li class="clearfix project flatiron"><p><span class="company">Flatiron School</span>Branding</p></li>
	    			<li class="clearfix project dueprops"><p><span class="company">DueProps</span>Redesign</p></li>
	    			<li class="clearfix project side"><p><span class="company">On The Side</span>Breed Breakdown</p></li>
	    			<li class="clearfix project side"><p><span class="company">On the Side</span>Guess Who Board Game</p></li> -->
	    		</ul>
    		</div>
    	</div>
    </div>
		

			<h2>Contact</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi sit vitae sint quae temporibus cumque odit voluptates distinctio ad laborum atque corporis dolores.</p>
			
      <hr>

      <footer>
          <p class="pull-left">Facebook/Twitter/Whatever</p>
          <p class="pull-right">Built by Brad Wheel &amp; Ari Rose</p>
      </footer>
	</body>
</html>



